<div class="headerContent" style="z-index: 112; height: 100%; background-color: #f4f4f4; width: 330px;right:0; position: absolute">
    <div style="right:20px;position: absolute; top: 35px">
        <button ejs-button id='btnCloseButton' iconCss='ej-icon-Close' cssClass='btn-shadow-hide'>
        </button>
    </div>
    <div style="margin: 25px 20px 30px 30px;">
        <div class="text-content">
            <span id='txtHeaderContent'>Notification</span>
        </div>
    </div>
    <div class="notification-content">
        <span>Nothing new right now</span>
    </div>
    <div class="settings-content">
        <span class="settings-sub-header">Your app settings</span>
        <div class="anchor-div">
            <a class="about-anchor">
                <span>Automatic replies</span>
            </a>
        </div>
        <div class="anchor-div">
            <a class="about-anchor">
                <span>Display settings</span>
            </a>
        </div>
        <div class="anchor-div">
            <a class="about-anchor">
                <span>Offline settings</span>
            </a>
        </div>
        <div class="anchor-div">
            <a class="about-anchor">
                <span>Manage add-ins</span>
            </a>
        </div>
    </div>
    <div class="about-content">
        <div class="anchor-div">
            <a class="about-anchor">
                <span>Help</span>
            </a>
        </div>
        <div class="anchor-div">
            <a class="about-anchor">
                <span>Feedback</span>
            </a>
        </div>
        <div class="anchor-div">
            <a class="about-anchor">
                <span>Community</span>
            </a>
        </div>
        <div class="anchor-div">
            <a class="about-anchor">
                <span>Legal</span>
            </a>
        </div>
        <div class="anchor-div">
            <a class="about-anchor">
                <span>Privacy & cookies</span>
            </a>
        </div>
    </div>
    <div class="profile-content">
        <div class='logo logo-style2' style='float:left'></div>
        <div class='messageHeader' style='float:left; height: 70px; margin-bottom: 13px;'>
            <div style="font-size: 17px">{{userName}}</div>
            <div style="font-size: 12px; color: #666">{{userMail}}</div>
        </div>
        <div class="anchor-div">
            <a class="about-anchor">
                <span style="font-size: 14px">My profile</span>
            </a>
        </div>
        <div class="anchor-div">
            <a class="about-anchor">
                <span style="font-size: 14px">My account</span>
            </a>
        </div>
        <div class="anchor-div">
            <a class="about-anchor">
                <span style="font-size: 14px">Sign Out</span>
            </a>
        </div>
    </div>
</div>