<div class='rp-separate-content'>
    <div class='rp-separate-tool'>
        <ejs-toolbar id='rp-toolbar_align' #rpReplyToolbar width="100%" height="100%" overflowMode='Popup'
            (clicked)="toolbarClick($event)">
            <e-items>
                <e-item prefixIcon='ej-icon-Reply-All tb-icons' cssClass='tb-item-replyAll' tooltipText='Reply All'>
                    <ng-template #template>
                        <div>
                            <ejs-dropdownlist id='rp-replyAllList' #rpReplyAllList [dataSource]='replyList' (change)='replyAllSelect($event)' value="Reply All"
                                [fields]='dropdownField' popupHeight="150px" popupWidth="150px" width="115px">
                                <ng-template #valueTemplate let-data="">
                                    <div>
                                        <div class="float-left" style="margin-top: 1px;">
                                            <span style="font-weight: bold" class="e-btn-icon ej-icon-Reply-All tb-icons e-icons tb-icon-rply-all">
                                            </span>
                                        </div>
                                        <div class="tb-dropdowns float-left"> Reply All </div>
                                    </div>
                                </ng-template>
                            </ejs-dropdownlist>
                        </div>
                    </ng-template>
                </e-item>
                <e-item prefixIcon='ej-icon-Delete tb-icons' text='Delete' tooltipText= 'Delete'>
                </e-item>
                <e-item text='Junk' cssClass='tb-item-Selected' tooltipText='Mark the sender as unsafe and delete the message'>
                </e-item>
                <e-item cssClass='tb-item-more' tooltipText='More actions' >
                    <ng-template #template>
                        <div>
                            <ejs-dropdownlist id='rp-moreList' #rpMoreItemList [dataSource]='moreList'  
                                value="Mark as read" [fields]='dropdownField' popupHeight="150px" popupWidth="150px">
                                <ng-template #valueTemplate let-data>
                                    <div class="tb-dropdowns" style ="font-size: 16px;margin-top: -2px;"><span class="e-btn-icon e-icons ej-icon-More"></span></div>
                                </ng-template>
                            </ejs-dropdownlist>
                        </div>
                    </ng-template>
                </e-item>
                <e-item prefixIcon='ej-icon-Close tb-icons' align='right' tooltipText= 'Close' cssClass='rp-tp-item-Close'>
                </e-item>
            </e-items>
        </ejs-toolbar>
        <ejs-toolbar id='rp-toolbar_newmail' #rpNewmailToolbar height='100%' overflowMode='Popup' style="display: none"
            (clicked)="toolbarNewMailClick($event)">  
            <e-items>
                <e-item  prefixIcon ='ej-icon-Send tb-icons' text='Send' tooltipText='Send' ></e-item>
                <e-item  prefixIcon ='ej-icon-Attach tb-icons' text='Attach' tooltipText='Attach' ></e-item>
                <e-item  text ='Discard' ></e-item>
                <e-item  cssClass='tb-item-more tb-item-more-mail' tooltipText='More actions'>
                    <ng-template #template>
                        <div>
                            <ejs-dropdownlist id='rp-moreList2' #rpMoreItemList2 [dataSource]='moreMailList' 
                                value="Show From" [fields]='dropdownField' popupHeight="150px" popupWidth="150px">
                                <ng-template #valueTemplate let-data>
                                    <div class="tb-dropdowns" style ="font-size: 16px;margin-top: -2px;"><span class="e-btn-icon e-icons ej-icon-More"></span></div>
                                </ng-template>
                            </ejs-dropdownlist>
                        </div>
                    </ng-template>
                </e-item>
                <e-item  prefixIcon='ej-icon-Close tb-icons' tooltipText='Close' align='right' 
                    cssClass='rp-tb-item-Close' >
                </e-item>
            </e-items>                  
        </ejs-toolbar>
    </div>
    <div class='rp-maincontent_pane'>
        <div id='rp-reading-pane-div' class='rp-reading-pane customScrollBar'>
            <ejs-accordion id='rp-accordian' #rpAccordian style='display: none;'></ejs-accordion>
            <div id='rp-mailarea'>
                <div id="rp-newmailContent">
                    <div class="mail-content-div customScrollBar">
                        <div class="mail-id">
                            <button ejs-button id='rp-btnTo' class="float-left" style='width:50px;'>To</button>
                            <ejs-multiselect id='rp-autoTo' #rpAutoTo [dataSource]='contactsList' [fields]='multiSelectFields' 
                                mode='Box' placeholder= '...' [width]='multiSelectWidth' cssClass ='ac-new-mail' delimiterChar=';'
                                popupWidth='300px' hideSelectedItem='true' allowFiltering='true' (filtering)='onFiltering($event)'>
                                <ng-template #itemTemplate let-data>
                                    <div class="multiselect-template parent-div">
                                        <img class="contacts-item-image-style" src="{{data.Image}}" alt="employee"/>
                                        <div class="contacts-item-text-style"> 
                                            <div>{{data.text}}</div> 
                                        </div>
                                        <div class="contacts-item-subtext-style">{{data.MailId}}</div>
                                    </div>
                                </ng-template>
                                <ng-template #valueTemplate let-data>
                                    <div>
                                        <img class="contacts-value-img-style" src="{{data.Image}}" alt="employee"/>
                                        <div class="contacts-value-text-style">{{data.MailId}}</div>
                                    </div>
                                </ng-template>
                            </ejs-multiselect>
                        </div>
                        <div class="mail-id">
                            <button ejs-button id='rp-btnCc' class="float-left" style='width:50px;'>Cc</button>
                            <ejs-multiselect id='rp-autoCc' #rpAutoCc [dataSource]='contactsList' [fields]='multiSelectFields' 
                                mode='Box' placeholder= '...' [width]='multiSelectWidth' cssClass ='ac-new-mail' delimiterChar=';'
                                popupWidth='300px' hideSelectedItem='true' allowFiltering='true' (filtering)='onFiltering($event)'>
                                <ng-template #itemTemplate let-data>
                                    <div class="multiselect-template parent-div">
                                        <img class="contacts-item-image-style" src="{{data.Image}}" alt="employee"/>
                                        <div class="contacts-item-text-style"> 
                                            <div>{{data.text}}</div> 
                                        </div>
                                        <div class="contacts-item-subtext-style">{{data.MailId}}</div>
                                    </div>
                                </ng-template>
                                <ng-template #valueTemplate let-data>
                                    <div>
                                        <img class="contacts-value-img-style" src="{{data.Image}}" alt="employee"/>
                                        <div class="contacts-value-text-style">{{data.MailId}}</div>
                                    </div>
                                </ng-template>
                            </ejs-multiselect>
                        </div>
                        <div class="mail-subject e-input-group">
                            <input type='text' id='rp-txtSubject' placeholder="Enter Subject Here" />
                        </div>
                        <div>
                            <div id='rp-mailContentMessage' class="customScrollBar" contenteditable="true"></div>
                        </div>
                        <div class='mail-text-edit-tb-parent'>
                            <ejs-toolbar id='rp-new_email_toolbar' #rpRTEToolbar height='100%'>  
                                <e-items>
                                    <e-item prefixIcon= 'ej-icon-Font tb-icons' tooltipText= 'Font' ></e-item>
                                    <e-item prefixIcon= 'ej-icon-Font-Size path2 tb-icons' tooltipText= 'Font Size' ></e-item>
                                    <e-item prefixIcon= 'ej-icon-Bold tb-icons' tooltipText= 'Bold' ></e-item> 
                                    <e-item prefixIcon= 'ej-icon-Italic tb-icons' tooltipText= 'Italic' ></e-item> 
                                    <e-item prefixIcon= 'ej-icon-Underlined tb-icons' tooltipText= 'Underline' ></e-item> 
                                    <e-item prefixIcon= 'ej-icon-Highlight tb-icons' tooltipText= 'Highlight' ></e-item> 
                                    <e-item prefixIcon= 'ej-icon-Font-Color-Icon tb-icons' tooltipText= 'Font color' ></e-item> 
                                    <e-item prefixIcon= 'ej-icon-Bullets tb-icons' tooltipText= 'Bullets' ></e-item> 
                                    <e-item prefixIcon= 'ej-icon-Numbering tb-icons' tooltipText= 'Numbering' ></e-item> 
                                    <e-item prefixIcon= 'ej-icon-Decr-Indent tb-icons' tooltipText= 'Decrease Indent' ></e-item> 
                                    <e-item prefixIcon= 'ej-icon-Incr-Indent tb-icons' tooltipText= 'Increase Indent' ></e-item> 
                                    <e-item prefixIcon= 'ej-icon-Left-aligned tb-icons' tooltipText= 'Decrease Indent' ></e-item> 
                                    <e-item prefixIcon= 'ej-icon-Centre-aligned tb-icons' tooltipText= 'Increase Indent' ></e-item> 
                                    <e-item prefixIcon= 'ej-icon-Right-aligned tb-icons' tooltipText= 'Decrease Indent' ></e-item> 
                                    <e-item prefixIcon= 'ej-icon-Hyperlink tb-icons' tooltipText= 'Hyperlink' ></e-item>
                                </e-items>
                            </ejs-toolbar>
                        </div>
                        <div>
                            <button ejs-button id='rp-btnSend' isPrimary='true' (click)="btnRPSendClick()">Send</button>
                            <button ejs-button id='rp-btnDiscard' (click)="btnRPDiscardClick()">Discard</button>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>
<div id='rpAccodianContent' style='display: none'>
    <div style='height: 100px'>
        <div class='logo logo-style2 float-left'></div>
        <div class='messageHeader float-left'>
            <div id='rp-sub'></div>
            <div id='rp-date' ></div>
            <div id='rp-to'></div>
        </div>
        <div style="right:0;position: absolute;">
        </div>
    </div>
    <div id='rp-accContent'>
    </div>
</div>